.bg-header {
  background: url("../images/hero-video.jpg") center center no-repeat;
  background-attachment: fixed;
  height: 620px;
}

.bg-quote {
  background: url(https://picsum.photos/1600/1600/?random) center center
    no-repeat;
  background-attachment: fixed;
}
